---
extRefs:
  Jenkins:
    url: "{{ ingress_protocol }}://{{ jenkins_domain }}"
    creds:
    - description: Username
      type: text
      value: "{{ jenkins_username }}"
    - description: Password
      type: password
      value: "{{ jenkins_password }}"
