---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-secrets
  namespace: backstage
type: Opaque
data:
  GITLAB_TOKEN: "{{ gitlab_personal_access_token | b64encode }}"
  GITLAB_APP_CLIENT_ID: "{{ gitlab_application_client_id | b64encode }}"
  GITLAB_APP_CLIENT_SECRET: "{{ gitlab_application_client_secret | b64encode }}"
