# Copyright 2024 Dynatrace LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

delete:
  
  # project - srg
  - project: srg
    type: app:dynatrace.site.reliability.guardian:guardians
    id: simplenodeguardian
  - project: srg
    type: workflow
    id: simplenodeworkflow

  # project - app
  - type: synthetic-monitor
    name: {{ demo_rel_val_release_stage }}-health-check-{{ demo_rel_val_identifier }}
  - type: auto-tag
    name: {{ demo_rel_val_release_stage }}-{{ demo_rel_val_identifier }}
  - project: app
    type: builtin:rum.web.app-detection
    id: appDetection
  - type: application-web
    name: {{ demo_rel_val_release_product }}-{{ demo_rel_val_release_stage }}-{{ demo_rel_val_identifier }}
  - type: calculated-metrics-service
    name: {{ demo_rel_val_release_stage }}.failure_rate_by_version-{{ demo_rel_val_identifier }}
  - type: calculated-metrics-service
    name: {{ demo_rel_val_release_stage }}.response_time_by_version-{{ demo_rel_val_identifier }}
  - type: slo
    name: staging_slo_success_rate_{{ demo_rel_val_identifier }}
  - type: slo
    name: staging_slo_availability_{{ demo_rel_val_identifier }}
  - type: dashboard
    name: {{ demo_rel_val_release_stage }}-dashboard-{{ demo_rel_val_identifier }}
  - project: app
    type: builtin:ownership.teams
    id: owner_simplenode_rv_srg_staging
