# Copyright 2024 Dynatrace LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- include_role:
    name: config-v2
    tasks_from: set-var
  vars:
    var_key_to_set: "vscode_flavour"
    var_value_to_set: "vm"

- name: Download VSCode Deb
  ansible.builtin.get_url:
    url: "https://github.com/coder/code-server/releases/download/v{{vscode_version}}/code-server_{{vscode_version}}_amd64.deb"
    dest: /tmp/code-server_{{vscode_version}}_amd64.deb

- name: Install VSCode
  become: true
  ansible.builtin.shell: |
    sudo dpkg -i code-server_{{vscode_version}}_amd64.deb
    sudo systemctl enable --now code-server@{{ace_box_user}}
  args:
    chdir: /tmp/

- name: Generate VSCode password
  set_fact:
    vscode_password: "{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}"

- name: Configure VSCode
  ansible.builtin.template:
    src: config.yaml.j2
    dest: "/home/{{ ace_box_user }}/.config/code-server/config.yaml"
    mode: 0600
  vars:
    private_ip: "{{ ansible_default_ipv4.address }}"

- include_role:
    name: local-ingress
  vars:
    local_ingress_port: "8080"
    local_ingress_domain: "{{ vscode_domain }}"
    local_ingress_namespace: "{{ vscode_namespace }}"

- include_tasks: install-extension.yml
  vars:
    code_extension: "{{ item }}"
  loop: "{{ vscode_extensions }}"

- name: Restart VSCode
  become: true
  ansible.builtin.shell: |
    sudo systemctl restart code-server@{{ace_box_user}}

# - ansible.builtin.include_tasks: source-secret.yml

# Include Dashboard values
- set_fact:
    include_dashboard_value_file: "{{ role_path }}/templates/vscode-dashboard.yml.j2"
