---
# BEGIN ANSIBLE MANAGED BLOCK - host
host_group: "{{ host_group | default('ace-box') }}"
ingress_domain: "{{ ingress_domain | default(None) }}"
ingress_protocol: "{{ ingress_protocol | default(None) }}"
# END ANSIBLE MANAGED BLOCK - host
# BEGIN ANSIBLE MANAGED BLOCK - extra_vars
extra_vars: {{ extra_vars | default({}) }}
# END ANSIBLE MANAGED BLOCK - extra_vars
# BEGIN ANSIBLE MANAGED BLOCK - git_flavor
git_flavor: "{{ git_flavor | default('GITEA') }}"
# END ANSIBLE MANAGED BLOCK - git_flavor
# BEGIN ANSIBLE MANAGED BLOCK - dynatrace
dynatrace_tenant_url: "{{ dynatrace_tenant_url.rstrip('/') if (dynatrace_tenant_url is defined and dynatrace_tenant_url|length > 0) else None }}"
dynatrace_api_token: "{{ dynatrace_api_token | default(None) }}"
# END ANSIBLE MANAGED BLOCK - dynatrace
# BEGIN ANSIBLE MANAGED BLOCK - dashboard
dashboard_user: "{{ dashboard_user }}"
dashboard_password: "{{ dashboard_password }}"
# END ANSIBLE MANAGED BLOCK - dashboard
# BEGIN ANSIBLE MANAGED BLOCK - ingress_class
ingress_class: "{{ ingress_class | default('public') }}"
# END ANSIBLE MANAGED BLOCK - ingress_class
# BEGIN ANSIBLE MANAGED BLOCK - validation_tests
use_case_validation_tests_enabled: {{ use_case_validation_tests_enabled | default(False) }}
# END ANSIBLE MANAGED BLOCK - validation_tests