---

extRefs:
  EasyTravel:
    url: "{{ ingress_protocol }}://{{ easytravel_domain }}"
    description: "EasyTravel is available at <a href=\"{{ ingress_protocol }}://{{ easytravel_domain }}\">{{ ingress_protocol }}://{{ easytravel_domain }}</a>"
