# Copyright 2024 Dynatrace LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- include_role:
    name: microk8s

- include_role:
    name: dt-activegate-classic
  vars:
    activegate_install_synthetic: true

- include_role:
    name: dt-operator

- include_role:
    name: monaco

- include_role:
    name: gitea

- include_role:
    name: keptn

- include_role:
    name: gitea
    tasks_from: source-secret
  when: gitea_access_token is not defined or gitea_username is not defined or gitea_password is not defined

- include_role:
    name: gitea
    tasks_from: create-organization
  vars:
    gitea_org: "{{ demo_quality_gates_jenkins_org }}"

- include_role:
    name: gitea
    tasks_from: create-repository
  vars:
    gitea_org: "{{ demo_quality_gates_jenkins_org }}"
    gitea_repo: "{{ demo_quality_gates_jenkins_repo_name }}"

- name: Source Gitea endpoint
  include_role:
    name: gitea
    tasks_from: source-endpoints

- include_role:
    name: app-simplenode
  vars:
    git_username: "{{ gitea_username }}"
    git_password: "{{ gitea_password }}"
    git_endpoint: "{{ gitea_internal_endpoint | regex_replace(\"http://\") }}"
    git_org_name: "{{ demo_quality_gates_jenkins_org }}"
    repo_name: "{{ demo_quality_gates_jenkins_repo_name }}"
  when: new_repo_created is defined and new_repo_created == true

- include_role:
    name: otel-collector

# Include use case specific Jenkins values
- set_fact:
    include_jenkins_value_file: "{{ role_path }}/templates/demo-default-jobs.yml.j2"

- include_role:
    name: jenkins
    tasks_from: template-values-file
  vars:
    git_username: "{{ gitea_username }}"
    git_token: "{{ gitea_access_token }}"
    demo_repo: "{{ demo_quality_gates_jenkins_repo_name }}"
    demo_org: "{{ demo_quality_gates_jenkins_org }}"
    demo_jenkins_folder: "{{ demo_quality_gates_jenkins_folder }}"
    git_domain: "gitea.{{ ingress_domain }}"

- include_role:
    name: jenkins

# Include use case specific Dashboard values
- set_fact:
    include_dashboard_value_file: "{{ role_path }}/templates/demo-quality-gates-jenkins-dashboard.yml.j2"

- include_role:
    name: dashboard
    tasks_from: template-values-file

- include_role:
    name: dashboard
