---

extRefs:
  Hipstershop:
    url: "{{ ingress_protocol }}://{{ hipstershop_domain }}"
    description: "Hipstershop is available at <a href=\"{{ ingress_protocol }}://{{ hipstershop_domain }}\">{{ ingress_protocol }}://{{ hipstershop_domain }}</a>"
